@charset "utf-8";
/* CSS Document */
*{ padding:0px; margin:0px;}
a{ text-decoration:none; color: #666;}
html,p,a{ font-family:"微软雅黑";}
ul,li{ list-style:none;}
i{ font-style: normal; }
.fr{float: right;}
.f1{ float: left; }
.text-center{ margin:40px 0px; font-size: 36px;}
.text-center p{ font-size: 26px; color: #d7d5d5; }
.titleHover:hover{ color: #ef591c; }
.clear { clear: both;}
/*index*/
/*top*/
.topIndex{ width:100%; background:#f9f9f9; height: 40px;}
.topAuto{ width: 1200px; margin:0 auto; }
.topRight{ float: right; }
.topRight a{font-family:"微软雅黑"; float: right; font-size: 14px; line-height: 40px; color: #888888;}
.topRight a b{ color: #ff5b01; font-size: 16px;}
.topRight span{ float: right; line-height: 40px; color: #d7d7d7; padding: 0px 12px;}
.icon-tel,.icon-download{ margin-right: 5px; position: relative;}
.icon-wechat{margin-left: 5px; color: #73cc56;}
.APPxiazai{ position: absolute; background: #f1f1f1; padding: 10px; margin-top: 1px; display: none; z-index: 99;}
.APPxiazai img{ position: relative; }
.Triangle{ position: absolute; left: 40px; top:0px; width: 0;height: 0; border-right: 5px solid transparent; border-left: 5px solid transparent; border-bottom:10px solid #fff;}
.weixin{ position: absolute; background: #f1f1f1; padding: 10px; margin-top: 1px; display: none;}
.weixin img{ position: relative; }
.TriangleWeixin{ position: absolute; left: 50px; top:0px; width: 0;height: 0; border-right: 5px solid transparent; border-left: 5px solid transparent; border-bottom:10px solid #fff;}
.appxz:hover .APPxiazai{ display: block; z-index: 999;}
.guanzhu:hover .weixin{ display: block; z-index: 999;}
/*nav*/
.navIndex{ width:100%; background: #fff;}
.logoAuto{ width: 1200px; margin: auto; padding: 18px 0px;}
.logoIndex{display: inline-block; float: left;}
.navHome{ display: inline-block; width: 600px; margin: 0px 59px;}
.navHome a{ width: 150px; text-align: center; float: left; font-size: 18px; color: #333; line-height: 57px;}
.navHome a:hover{ color: #ef591c; }
.navRight{ float: right; padding: 0px 40px 0px 0px;}
.navRight span{ float: left; }
.icon-xiaoxitixing{ line-height: 57px; font-size: 30px !important; margin-right: 20px !important; color: #666; position: relative;}
.navRight span b{ width: 6px; height: 6px; background:red; position: absolute; margin: 13px 0px 0px -28px; border-radius:6px; }
.navRight .touxiang img{ width: 50px; height: 50px; border-radius:50px; float: left; margin: 2px 10px 2px 0px; position: relative;}
.navRight .touxiang p{ float: left; line-height: 57px; font-size: 18px; color: #666; margin:0px;}
.touxiangxiala{ position: absolute; width: 110px; background: #fff; margin-top: 57px; display: none; border:#e5e5e5 1px solid;}
.touxiangxiala a{ float: left; font-size: 14px; line-height: 35px; text-align: center; width: 100%; color: #666;}
.touxiangxiala a:hover{ background: #f1f1f1; }
.navRight .touxiang{ cursor: pointer; }
.navRight .touxiang:hover .touxiangxiala{ display: block; z-index: 999;}
.showHome{ color: #ef591c !important; }
/*众筹项目总数*/
.xmIndex{ width:100%; overflow: hidden; background:#f5f5f5;}
.xmAuto{ width: 1200px; margin:18px auto 25px;}
.IconRight{float: left; }
.IconRight p{ margin: 0px; }
.icon-shumu1{color: #fb9c6d; font-size: 30px !important;}
.icon-zhuce{color: #fb9c6d; font-size: 30px !important;}
.icon-chenggong1{color: #fb9c6d; font-size: 36px !important;}
.icon-fengxiankongzhi{color: #fb9c6d; font-size: 30px !important;}
/*.IconLeft{ margin-top: 10px; border-radius:30px; background: #ffeee6; width: 60px; height: 60px;  float: left; text-align: center; line-height: 60px;}
.zcxmzs { color: #ef591c; font-size: 40px; padding: 0px 0px 0px 5px; }
.zxxmzshu { color: #999999; font-size: 16px; padding: 0px 0px 0px 5px; }
*/
.IconLeft{ border-radius:30px; background: #ffeee6; width: 60px; height: 60px;  float: left; text-align: center; line-height: 60px;}
.IconRight{font-family:"微软雅黑"; line-height: 60px; font-size: 18px; margin-left: 5px;}
.rightk{ float: right; }
/*首页项目hover*/
.index-project { border: #e5e5e5 1px solid; background: #fff;
	width: 100%px;
	margin-bottom: 40px;
	overflow: hidden;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear
}
.index-project:hover {
	box-shadow: 0 5px 30px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 5px 30px rgba(0,0,0,.5);
	-moz-box-shadow: 0 5px 30px rgba(0,0,0,.5);
	-ms-box-shadow: 0 5px 30px rgba(0,0,0,.5);
	-o-box-shadow: 0 5px 30px rgba(0,0,0,.5);
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px)
}
/*热门项目*/
.hotxm{ width: 100%; overflow: hidden; }
.hotXmAuto{width: 1200px; margin:18px auto 25px;}
.typeLX{ position: absolute; top:10px; left:0px; background:url(../images/bgType.png) no-repeat; padding: 2px 15px 5px 15px; color: #fff; font-family:"微软雅黑"; }
.xmTitle{ border-bottom: #f1f1f1 1px solid; display: inline-block; width: 100%; padding-bottom: 15px;}
.xmTitle span.label{ border: #e5e5e5 1px solid; color: #89c3f7; border-radius:10px; padding: 1px 3px; margin-right: 10px;}
.xmTitle span.leftProgress{ width: 90%; float: left; }
.rightJd{ width: 10%; float:left; text-align: right; color: #ef591c; font-weight: bold; font-size: 24px; line-height: 18px;}
.progress-bar{  background: linear-gradient(to right, #ffb700 , #ef591c); }
.progress{border-radius: 10px !important;}
.jdt{ width: 100%; display: inline-block; }
.borderRight{ border-right:#f1f1f1 1px solid;}
.shuzi{ color: #ef591c; font-size:24px; font-weight: bold;}
.shuju p{ margin: 0px; }
.mbze{ font-size: 16px; color: #666666; }
.centerText{ text-align: center; }
.rzizhong{ padding-right: 0px !important; }
.rongzi{ background: #ef591c; color: #fff; font-size: 18px; float: right; padding: 10px 15px; margin-top:3px !important; border-radius:25px 0px 0px 25px;}
.location{ color: #999; line-height: 40px; font-family:"微软雅黑"; }
.icon-hangye{ font-size: 18px !important;  margin-right: 5px; float:left; margin-top: 1px;}
.icon-quanshang{  margin-right: 5px;}
.icon-dizhi{ margin-right: 5px;}
.centerDZ{ text-align: center; padding-left: 0px !important; padding-right: 0px !important;}
.rightDZ{text-align: right;}
.CKmore{ width: 200px; margin:25px auto; text-align: center; border: #e5e5e5 1px solid; padding: 10px 0px; border-radius:5px; background: #fff;}
.CKmore:hover{background: #ef591c; color: #fff;}
.xmTitle a{ color:#515151; }
.xmTitle a:hover{ color: #ef591c; }
/*融资项目*/
.rzxm{ width: 100%; overflow: hidden; background:#f5f5f5;}
.rzxmAuto{width: 1200px; margin:18px auto 25px;}
/*预热项目*/
.xmyrz{ text-align: center; width: 100%; font-family:"微软雅黑"; display: inline-block; color: #999;}
.yure{color: #999; font-weight: 100;}
.yurezhong{ background: #e5e5e5; color: #888; }
/*资讯中心*/
.infoCenter{ display: inline-block; width: 100%; }
.leftInfo{ float: left; width:70%;}
.leftInfo .title{height:40px;border-bottom: 2px solid #e7e7e7;}
.leftInfo .title-list{ position: relative; top: 6px;}
.leftInfo .title-list li{ width: 120px; line-height: 20px; text-align: center; float: left; display: inline; font-family:"微软雅黑";}
.leftInfo .title-list li.on{ color: #ff6600; font-weight: bold;}
.leftInfo .title-list p{position:absolute;top:30px;left:0px;width:120px;height:10px;border-top: 3px solid #ff6600; overflow: hidden; text-align: center;}
.leftInfo .title-list b{display:inline-block;width:0;height:0;margin-top:0px;border-style:solid dashed dashed dashed;border-width:8px;border-color: #ff6600 #fff #fff #fff;overflow: hidden;zoom: 1;font-size: 0;}
.product{position: relative; overflow: hidden; display: none; margin-top: 30px;}
.product-wrap .showTab{ display: block;}
.product-wrap .product .infoList{ width: 500px; }
.product-wrap .product li{ float: left; display: inline;}
.product-wrap .product li.ml0{ width: 100%; }
.product-wrap .product li a.imgwrap{ line-height: 25px; display: block; width: 400px; float: left; height: 25px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.product-wrap .product li p.time{ color: #aaaaaa; }
.infoMore a{float: right; font-family:"微软雅黑"; color: #999;}
.infoMore a:hover{ text-decoration: underline; }
.infoImages{ width: 320px; }
.product-wrap .product li a.imgwrap:hover{color: #ef591c;}
.rightInfo{ float: right; width: 27%; }
.rightInfo h5{ height: 40px;font-family:"微软雅黑";border-bottom: 2px solid #e7e7e7; line-height: 30px;}
.rightNr{ display: inline-block; margin-top: 20px; width: 100%;}
.rightNr ul li a{ width: 220px; line-height: 20px; display: block; float: left; height: 30px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.rightNr ul li p{ float: right; color: #999;}
.rightNr ul li a:hover{color: #ef591c;}
/*foot*/
.footer{ width: 100%; overflow: hidden; background: #323232; }
.footMuto{margin: 20px auto; width: 1200px;}
.telephone{ display: inline-block; color: #cccccc; }
.telephone h2{ font-weight: bold; font-size: 32px; font-family:"微软雅黑";}
.colorText{ color: #e5e5e5; }
.aboutUs{ margin-top:30px;}
.aboutUs p{ color: #e5e5e5; }
.aboutUs p span a{ width: 115px; float: left; margin-bottom: 8px;}
.aboutUs p span{ float: right; width: 650px;}
.aboutUs p span a:nth-last-child(1){ width:145px;}
.aboutUs p span a:hover{ color: #e5e5e5; }
.rightWechat{ margin-top: 40px; }
.rightWechat p{ float: left; width: 130px; color: #e5e5e5;text-align: center; margin-left: 40px; line-height: 30px;}
.rightWechat p img{ width: 100%; }
.row img{ width:100%;}
.footAll{ margin-top: 30px; font-family:"微软雅黑"; background: #111111; text-align: center; line-height: 45px; display: inline-block; width: 100%; color: #e5e5e5;}
/*返回顶部*/
.side-bar {position: fixed; right:10%; z-index: 99; bottom: 100px;}
.side-bar a { background:#ffeee6; margin-top:3px; display: block; width: 50px; height: 50px; position: relative; color: #fb9360; text-align: center;}
.side-bar .icon-up{ font-size:30px !important; line-height:60px;}
.side-bar .gotop:hover{ background: url(../images/goTop.png) no-repeat 0px 0px;}
.side-bar .gotop:hover i{ display:none;}
.side-bar .icon-Appxiazai{font-size:30px !important; line-height:50px;}
.side-bar .AppDownload:hover span {display: block;}
.side-bar .AppDownload span { position: absolute;left: -162px;top:-28px;display: none; border:#f1f1f1 10px solid; width:160px;}
.side-bar .AppDownload span img{ position: relative; }
.side-bar .AppDownload span b{ position: absolute; top:38px; right: -10px; width: 0;height: 0; border-top: 5px solid transparent; border-left: 10px solid #fff; border-bottom:5px solid transparent;}
.side-bar .AppDownload span p{ font-size:13px; color:#333; margin:0px; padding-top: 6px; background: #f1f1f1; width: 140px; text-align: center; }
.side-bar .AppDownload:hover{ background: url(../images/goTop.png) no-repeat 0px -53px;}
.side-bar .AppDownload:hover i{ display:none;}
.side-bar .icon-QR{font-size:30px !important; line-height:50px;}
.side-bar .gzWechat:hover span {display: block}
.side-bar .gzWechat span {position: absolute;left: -162px;top:-81px;display: none; border:#f1f1f1 10px solid; width:160px;}
.side-bar .gzWechat span img{ position: relative; }
.side-bar .gzWechat span b{ position: absolute; top:90px; right: -10px; width: 0;height: 0; border-top: 5px solid transparent; border-left: 10px solid #fff; border-bottom:5px solid transparent;}
.side-bar .gzWechat p{ font-size:13px; color:#333; margin:0px; padding-top: 6px; background: #f1f1f1; width: 140px; text-align: center; }
.side-bar .gzWechat:hover{ background: url(../images/goTop.png) no-repeat 0px -103px;}
.side-bar .gzWechat:hover i{ display:none;}
.side-bar .icon-xiaoxi{font-size:30px !important; line-height:50px;}
.side-bar .kfzx:hover{ background: url(../images/goTop.png) no-repeat 0px -155px;}
.side-bar .kfzx:hover i{ display:none;}
/*investment*/
.investment{ background: #f1f1f1; width: 100%; overflow: hidden;}
.investmentAuto{ width: 1200px; margin:20px auto 0px; }
.investmentnr{ background:#fff; border: #e5e5e5 1px solid; display: inline-block;}
.xuanze{ padding: 25px 15px 15px 15px; float: left;}
.xuanze p span a{ margin-right: 15px; padding:3px 8px 5px 8px; margin-bottom: 3px; float: left;}
.xuanze p span{ float: right; width: 1090px;}
.xuanze p{ width: 100%; display: inline-block; line-height: 20px;}
.xuanze p i{ padding:3px 0px 5px 0px; display: inline-block; }
.selected{ background: #ef591c; color: #fff; text-align: center;}
.search{ width: 100%; background: #e5e5e5; padding: 10px 0px; float: left;}
.searchLeft{ float: left; margin-left: 15px; line-height: 35px; font-family:"微软雅黑";}
.colorbg{ color: #ef591c; }
.searchRight{ float: right; margin-right: 15px; background: #fff; border: #e5e5e5 1px solid;}
.searchRight input{ text-indent: 10px; font-family:"微软雅黑"; border: none; outline:none; line-height: 35px; float: left; border-right: #e5e5e5 1px solid; height: 35px; width: 200px;}
.searchRight b{ width: 35px; height: 35px;  text-align: center; line-height: 35px; float: left; cursor: pointer;}
.icon-iconfonticonfontsousuo1{ color: #999; }
.projectList{ display: inline-block; width: 100%; }
.oneTitle{ display: inline-block; width: 100%;} 
.oneTitle h4{ height:30px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin:10px 10px 0px 10px; line-height: 30px;}
.oneTitle p{height:30px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin:0px 10px 0px 10px;}
.bgxiangmu{ background: #fff; }
.xiangmu{border-bottom: #f1f1f1 1px solid; display: inline-block; margin:0px 10px; width: 94%; padding-bottom: 15px;}
.xiangmu span.label{ border: #e5e5e5 1px solid; color: #89c3f7; border-radius:10px; padding: 1px 3px; margin-right: 10px;}
.xiangmu span.leftProgress{ width: 90%; float: left; }
.rightsamll{ width: 10%; float:left; text-align: right; color: #ef591c; font-weight: bold; font-size: 16px; line-height: 10px;}
.samllJD{ height: 8px !important; }
.progress{border-radius: 10px !important;}
.borderRight{ border-right:#f1f1f1 1px solid;}
.shuziJD{ color: #ef591c; font-size:18px; font-weight: bold;}
.shuju p{ margin: 0px; }
.mbzeJD{ font-size: 14px; color: #666666; }
.rongziJD{ background: #ef591c; color: #fff; font-size: 14px; float: right; padding: 5px 6px 7px 10px;; margin-top:6px !important; border-radius:25px 0px 0px 25px; margin-right: 2px !important;}
.typeLXJD{position: absolute; top: 10px; left: 15px; background: url(../images/bgType.png) no-repeat; padding: 2px 15px 5px 15px; color: #fff; font-family: "微软雅黑";}
.topxiangmu{ margin-top: 20px; }
.bgxiangmu:hover{ box-shadow: 3px 3px rgba(0, 0, 0, 0.07); }
/*项目详情*/
.projectDetails{ width: 100%; overflow: hidden; background: #fff; margin-top: 15px; border: #e5e5e5 1px solid;}
.projectDetailsAll{ width: 1200px; margin:25px auto; }
.xiangmutitle{ left: 15px; right: 15px; position: absolute; bottom:0px; padding: 10px 15px; background-color:rgba(102,102,102,0.5); color: #fff;}
.biaoti{ margin:0px 0px 5px 0px; font-family:"微软雅黑";}
.xiangqingnr{ margin: 0px; font-family:"微软雅黑";}
.rengou{ width:100%; margin: 10px 0px 40px 0px;}
.guanzhuDetails{outline: initial; font-family:"微软雅黑"; border: #ef591c 1px solid; color: #ef591c; background: #ffe4d0; border-radius:5px;font-size: 16px; width: 135px; padding: 
7px 0px; margin-right: 50px;}
/*.guanzhuDetails:hover{ background: #ef591c; color: #fff; }*/
.guanzhuDetailshover{outline: initial; background: #ef591c; color: #fff; font-family:"微软雅黑"; border: #ef591c 1px solid; border-radius:5px;font-size: 16px; width: 135px; padding: 
7px 0px; margin-right: 50px;}
.guanzhuDetailshover:hover{ text-decoration:underline; }
.share{font-family:"微软雅黑"; float: right; padding: 7px 0px; color: #999; font-size: 16px;}
.icon-weixin{ color: #73cc56; font-size: 18px !important;}
.icon-qq{color: #6eb9fa; font-size: 18px !important;}
.icon-guanzhu{ margin-right: 5px; }
.shareing{ float: left; font-family:"微软雅黑"; line-height: 30px; color: #999;}
.icon-fenxiang1{font-size: 20px !important; float: left; margin: 1px 2px 0px 0px;}
.progressDetails{ width: 100%; }
.labelDetails{ display: inline-block; width: 100%; }
.labelDetails p span.label{border: #e5e5e5 1px solid; color: #89c3f7; border-radius: 10px; padding: 1px 3px; margin-right: 10px;}
.rongzizhong{ color: #ef591c; font-size: 18px; }
.colorBg{color: #ef591c;}
.threeDetails{background: #f1f1f1; width: 100%; display: inline-block; font-family:"微软雅黑"; padding: 15px 0px; margin-top: 15px;}
.exitWay{font-family:"微软雅黑";  margin-top: 10px;}
.Detailslist{ width: 100%; overflow: hidden; margin: 0px 0px 30px 0px;}
.tabLeft{ width: 880px; border: #e5e5e5 1px solid; background: #fff;}
.projectDetailsTab ul{ width: 100%; display: inline-block; }
.projectDetailsTab ul li{ cursor: pointer; float: left;  width: 25%; text-align: center; line-height: 50px; font-family:"微软雅黑"; font-size: 18px; background: #f8f8f8; border-bottom: #e5e5e5 1px solid; border-right: #e5e5e5 1px solid;}
.projectDetailsTab ul li:nth-last-child(1){ border-right: none !important; }
.one{ background: #fff !important; border-bottom: none !important;}
.two{ background: #fff !important; border-bottom: none !important;}
.contentDetailsTab{ padding: 15px; }
.nrDetails p{ line-height: 28px; }
.rightproject{ width: 300px; display: inline-block; }
.rightDetails{ width: 300px; border:#e5e5e5 1px solid; background: #fff; font-family:"微软雅黑";}
.rightDetails h4{ border-bottom: #e5e5e5 1px solid; background: #f8f8f8; margin: 0px; line-height: 50px; padding: 0px 15px;}
.iconShape{ width: 8px; height: 8px; background: #ef591c; margin-right: 10px; transform:rotate(45deg); margin-top: 22px; float: left;}
.companyInfo{ margin: 0px 10px; display: inline-block; border-bottom: #ccc 1px dashed; padding: 25px 0px;}
.companyInfo p{ width:100%; float: left; }
.company{ font-size: 21px !important;  float: left; color: #999; margin-top: -4px;}
.dizhi{ font-size: 22px !important;  float: left; color: #999; margin-right: 6px; margin-top: -5px;}
.hangye{ font-size: 18px !important;  float: left; color: #999; margin-right: 10px; margin-top: -2px;}
.zhenquan{ font-size: 18px !important;  float: left; color: #999; margin-right: 10px; margin-top: -2px;}
.gstpsc{ padding: 25px 30px; }
.icon-xuanzhong{ color: #40bd5f; font-size: 22px !important; background: #fff;}
.xmjcty {border-left: 2px solid #f1f1f1; padding-left: 10px; margin-left: 15px;}
.lay { position: relative;}
.dd-laye { left: -12px; top: -8px;position: absolute;}
.xmjccon { margin-left: 15px;background: #fff; padding: 4px 10px; color: #333; border: 1px solid #dedede;
 border-radius: 5px;position: relative;line-height: 23px; top: -10px; text-align: center; color: #c4c4c4;}
.cc-laye { left: -9px; top: 2px; position: absolute;}
.xmjccon p{ margin:0px;  }
.cjwt{ padding: 15px;}
.cjwt p{ width: 100%; height: 25px; overflow: hidden; text-overflow: ellipsis; white-space:nowrap;}
.cjwt p a:hover{ color: #ef591c;}
.topcjwt{ margin-top: 20px; }
.DetailSsyx{left: 15px;}
/*资讯中心*/
.infoBg{ width: 100%; overflow: hidden; background: #f1f1f1;  }
.leftInfonr{ width: 880px; }
/* 资讯中心slide */
.slide{ background: #fff; border:1px #e5e5e5 solid;position:relative; width: 100%; display: inline-block; height:220px;}
.slide li{width:100%; padding: 15px;}
.titleInfo{ width: 100%; display: inline-block; font-family:"微软雅黑"; color: #000; font-weight: bold; margin: 
0px 0px 30px 0px;}
.hotInfo{ background: #f23133; display: inline-block; color: #fff; font-size: 26px; padding: 1px 2px; margin-right: 10px;}
.slide li{position:absolute;overflow:hidden;display:none;}
.slide li.current{display:block;}
.image{ width: 220px; display: inline-block; }
.image img{width:100%; }
.text{ width: 70%; height: 115px; overflow: hidden;}
.text p{color:#666;text-indent:0;clear:both;line-height:20px;margin-top:4px;}
.text p:nth-child(1){ color: #999;}
.text p:nth-child(2){ height: 60px; overflow: hidden; }
.text p i{ margin-left: 30px; }
.slide .triggers{position:absolute;z-index:1;width:400px;text-align:center;bottom:10px;height:38px;right:0;left:0;padding:0 0 8px;}
.slide .triggers a{font-size:11px;line-height:12px;color:#000;overflow:hidden;border-radius:1px;-webkit-text-size-adjust:none;float:none;width:62px;height:42px;text-align:center;display:inline-block;background:0;margin:0 3px 0 0;}
.slide .triggers a:hover{text-decoration:none;}
.slide .triggers a img{width:58px;height:38px;border:1px #999 solid;vertical-align:middle;opacity:.6;}
.slide .triggers a.current img{border:2px #2fac00 solid;opacity:1;}
.slide .icon-dot{display:inline-block;position:absolute;bottom:10px;right:43px;}
.slide .icon-dot a{width:9px;height:9px;display:inline-block;background-image: url(../images/nav.png);background-repeat:no-repeat;background-position:-1px -1px;overflow:hidden;margin:0 2px;}
.slide .icon-dot a.current{background-position:-1px -12px;}
.slide .link-watch{width:30px;height:44px;display:none;position:absolute;top:110px;background:url(../images/arrow.png) no-repeat 0 -57px;filter:alpha(opacity=60);cursor:pointer;}
.slide .link-watch.pre{left:0;}
.slide .link-watch.next{left:368px;right:0;background-position:right -57px;}
.slide .link-watch.down{background-position-y:-2px;}
/*tab资讯中心*/
.tabInfo{ width: 100%; display: inline-block; margin: 20px 0px 20px 0px; font-family:"微软雅黑"; border-bottom: #888 3px solid;}
.tabInfo span{ font-size: 18px; margin-top: -5px;}
.tabInfo ul{ margin-bottom: 5px;}
.tabInfo ul li{ float: left; padding: 0px 20px;}
.tabInfo ul li.on{color: #ef591c;}
.shuxian{ font-size: 12px; color: #ccc; float: left; }
.infoProduct{ width: 100%; background: #fff; border:#e5e5e5 1px solid; }
.infoNr li{border-bottom: #e5e5e5 1px solid; padding: 15px; width: 880px;}
.infoNr li:hover{ background: #f5f5f5;}
.notop{ margin-top: 0px; }
.listInfo{ text-indent: 10px; border-left: 3px solid #f23133; color: #000; margin: 0px 0px 15px 0px; font-weight: bold; font-family:"微软雅黑"; font-size: 20px;}
.infoHotProject{ margin: 15px; border-bottom: #e5e5e5 1px dashed;}
.infoHotProject h3{ margin: 10px 0px 5px 0px; height: 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.infoHotProject p{ height: 45px; overflow: hidden;}


