$body-bg:#162b6b;
$white:#fff;
$side-border:#256eb5;
$center-border:#1f5597;
$date-color:#dff2ff;
$radius-color:#0077c2;
$font-primary-color:#17a5fb;
$dark-primary-color:#85adff;
$top-time-color:#6784b4;
$split-line-right:#112552;
$split-line-left:#135797;
$top-import-color:#2db0ff;

$login-bg:#0c070a;
$input-focus:#775b66;
$login-btn:#c2092f;
$login-icon:#927882;
$login-theme-color:#c00c23;
$base-color: #333;
$dark: #000;
$light: #fff;
$content-color: #58464d;
$top-btn-color: #21100d;
$tips-color:#4d5e6e;

